extends head
block scripts
  script(src="/custom.js")
block content
  div.addBooking
    div.container-fluid.bg-white.py-2 
      div.row.view.addView
        div.col-md-12.offset-md-0
          h3 #{viewTitle}
          if saveUnsuccessful
            p.alert.alert-danger(role="alert") #{saveUnsuccessful}
          else if saveSuccessful
            p.alert.alert-success(role="alert") #{saveSuccessful}
          p Add a new booking to be processed, please take care to ensure all fields validate and are correct.
          form#addForm(
            action='/add'
            method='POST'
            autocomplete='on'
              )
            input(type='hidden' name='_id' value='')
            input(type='hidden' name='clientReminderSent' value='false')
            input(type='hidden' name='bookingCreatedSent' value='false')
            input(type='hidden' name='calendarEventCreated' value='false')
            input(type='hidden' name='remindGoCapeGuides' value='false')
            input(type='hidden' name='remindOperators' value='false')
            input(type='hidden' name='feedbackSent' value='false')
            div.form-row 
              div.form-group.col-md-3
                label First Name
                input.form-control(
                  type='text'
                  name='firstName'
                  placeholder='First Name' 
                  value= ''
                  )
                div.text-danger #{booking.firstNameError}
              div.form-group.col-md-3
                label Last Name
                input.form-control(
                  type='text'
                  name='lastName'
                  placeholder='Last Name' 
                  value= ''
                  )
                div.text-danger #{booking.lastNameError}
              div.form-group.col-md-3
                label Email
                input.form-control(
                  type='text'
                  name='customerEmail'
                  placeholder='Customers Email Address'
                  value= ''
                  )  
                div.text-danger #{booking.customerEmailError}
              div.form-group.col-md-2
                label Phone
                input.form-control(
                  type='text'
                  name='phone'
                  placeholder='+27 82 123 4567' 
                  value= ''
                  )
                div.text-danger #{booking.phoneError}
              div.form-group.col-md-1
                label Pax
                input.form-control(
                  type='text'
                  name='pax'
                  placeholder='Pax' 
                  value= ''
                  )
                div.text-danger #{booking.paxError}
            div.form-row
              div.form-group.col-md-1
                label Operator
                select.form-control#operatorName(
                  type='select'
                  name='operatorName'
                  value= ''
                  )
                  option(value='' onchange='' selected='selected' hidden='hidden') OP
                  option AS
                  option GC
                  option AV
                div.text-danger #{booking.operatorNameError}
              div.form-group.col-md-2
                label Tour Type
                select.form-control#tourType(
                  type='select'
                  name='tourType'
                  value= ''
                  )
                  option(value='' selected='selected' hidden='hidden') Tour Type
                  option Group
                  option Private
                  option Chauffeur Drive
                div.text-danger #{booking.tourTypeError}
              div#chdDuration.form-group.col-md-2
                label Chd Duration
                select.form-control#chdDurationSelect(
                  type='select'
                  name='chdDuration'
                  value= ''
                  )
                  option(value='' selected='selected' hidden='hidden') Duration
                  option One Day
                  option Multi
                div.text-danger #{booking.chdDurationError}
              div.form-group.col-md-3
                label Date Booked
                input.form-control(
                  type='date'
                  name='dateBooked'
                  placeholder='Date Booked' 
                  value= ''
                  )
                div.text-danger #{booking.dateBookedError}
              div.form-group.col-md-3
                label Tour Date
                input.form-control(
                  type='date'
                  name='tourDate'
                  placeholder='Tour Date' 
                  value= ''
                  )
                div.text-danger #{booking.tourDateError}
            div#addMultipleDays.form-group.col-md-3.form-inline
              label(for='item') Add a date
              input.form-control.mr-2.ml-2(type='date' name='item' id='item')
              button#addNew.btn.btn-sm.btn-secondary(type='button') Add
              div.text-danger #{booking.addMultipleDaysError}
            ul#items  
            div.form-row#guideDetails 
              div.form-group.col-md-3
                label Guides Name
                input.form-control#guidesName(
                  type='text'
                  name='guidesName'
                  placeholder='Guides Name' 
                  value= ''
                  )
              div.form-group.col-md-3
                label Guides Email
                input.form-control(
                  type='text'
                  name='guidesEmail'
                  placeholder='Guides Email'
                  value= ''
                  )  
            div.form-row 
              div.form-group.col-md-4
                label Pickup Address
                textarea.form-control(
                  type='textarea'
                  name='pickupAddress'
                  form='addForm'
                  placeholder='Address..'
                  value= ''
                  )
                div.text-danger #{booking.pickupAddressError}
              div.form-group.col-md-2
                label Paid Status
                select#customPmtAmount.form-control(
                  type='select'
                  name='paidStatus'
                  value= ''
                  onchange="if(this.options[this.selectedIndex].value=='[custom amount]'){toggleField(this,this.nextSibling); this.selectedIndex='0';}"
                  )
                  //- option(value='' selected='selected' hidden='hidden') Tour Type
                  //- option(value='' selected='selected' hidden='hidden') Paid?
                  option.value='0%'
                  option.value='50%'
                  option.value='100%'
                  option.value='[custom amount]'
                  input#customPmtAmount.form-control(name="paidStatus"  style="display:none;" disabled="disabled" onblur="if(this.value==''){toggleField(this,this.previousSibling);}")
                div.text-danger #{booking.paidStatusError}
              div.form-group.col-md-3
                label Notes
                textarea.form-control(
                  type='textarea'
                  name='notes'
                  placeholder='notes' 
                  value= ''
                  )
                div.text-danger #{booking.notesError}
              div.form-group.col-md-3#referrer
                label Referrered By
                input.form-control(
                  type='text'
                  name='referrer'
                  placeholder='Referrer' 
                  value= ''
                  )
                div.text-danger #{booking.referrerError}
            div.form-row
              div.form-row.col-md-10
                div.col-md-3
                  button.btn.btn-block.btn-primary(type='submit' href="/add/" + booking._id ) 
                    i.fa.fa-plus-square(aria-hidden=true)
                    span  Save  
                div.col-md-2
                  //-button.btn.btn-block.btn-outline-info(type='reset' ) 
                    i.fa.fa-refresh(aria-hidden=true)  Reset  
                  a.btn.btn-block.btn-outline-info(href="/list")  
                    i.fa.fa-list-alt(aria-hidden=true)
                    span  View All..