extends head
block content
  block menu
    include menu
  div.calendar
    div.container-sm.bg-white.py-2
      h3 #{viewTitle}
      //- p.alert.alert-danger(role="alert") #{events}
      div Agenda of Your Upcoming Bookings
        each doc in list
          -var id = doc._id;
            div
              a(href="/edit/" + doc._id)
                b= doc.tourDate
                  span.small= ' - ' + doc.firstName + ' ' + doc.lastName
              p= doc.address
              p= doc.phone
              p= doc.pax
              p= doc.paidStatus
              hr
            