block variables
//- var userProfile=JSON.stringify(userProfile, null, 2)
//- var test=JSON.stringify(userProfile, null, 2)
- var test='test'
//- const {_raw, _json, ...userProfile} = req.user
doctype html
html
  head
    meta(charset="utf-8")
    link(rel="shortcut icon", href="/favicon.ico")
    meta(meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")
    title #{title} | WTCT Team Portal
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css")
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.css")
    link(rel="stylesheet" href="/style.css")
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.js")
    block scripts
    script(src="/custom.js")
  body
    div.outerWrap
      div.container-fluid.bg-white.p-0
        header
        //-if isAuthenticated
        div#errormessages
          //- p.alert.alert-success(role="alert") #{taskNotificationMsg}  
        include menu
        
        main  
          div.view
            div.container-fluid
        block content
        block footer  
          div.text-white.p-2.small(style="background-color: #334a39")
            div WTCT Helper app v.1.1 | Please report bugs in a snaglist
