div.header
  if siteMsg
    div.alert-info.text-center.p-1.small= siteMsg
  if infoMsg
    div.alert-info.text-center.p-1.small= infoMsg
  div.userDetailsBar.py-2.text-right
    div.container
      i.fa.fa-user.px-1  
      span Hi! 
        a(href='/user/' + id)= email 
        //-span= ' (' + data.role + ') account'
        span
          a.mx-2(href="/logout")
            i.fa.fa-sign-out
            span  Logout
    div.clearfix   
  div.navBar
    div.container
      nav.navbar.navbar-expand-lg.navbar-dark
        div
          button.small.navbar-toggler.collapsed(
            type='button' data-toggle='collapse'
            data-target='#navbarToggler'
            aria-controls='navbarToggler' 
            aria-expanded='true' aria-label='Toggle navigation' )
            span.navbar-toggler-icon
        div.float-right
          a.navbar-brand(href='/dashboard') 
            img(src='/wtct-small-logo.png' width="80%" height="auto" class="float-right" alt="wtct logo")
        div.collapse.navbar-collapse#navbarToggler
          ul#navbar.navbar-nav
            li.nav-item
              a.nav-link(
                href='/dashboard'
                ) Dashboard 
              //- span.sr-only current
            if role == 'admin'
              li.nav-item  
                a.nav-link(href="/add") Add
            if role == 'basic'
              li.nav-item
                a.nav-link(
                  href='/my-agenda'
                  ) My Agenda
            if role == 'admin'
              li.nav-item
                a.nav-link(
                  href='/agenda'
                  ) Agenda
            if role == 'basic'
              li.nav-item  
                a.nav-link(href="/my-bookings") My Bookings
            if role == 'admin'
              li.nav-item  
                a.nav-link(href="/list") View All 
                  span.badge.badge-light #{count}
              li.class.nav-item.dropdown
                a.nav-link.dropdown-toggle(href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                ) Tools
                div.dropdown-menu(aria-labelledby="navbarDropdown")
                  a.dropdown-item(href="/user/" + id) User Details
                  div.dropdown-divider
                  a.dropdown-item(href="/users") Admins: All Users
                  //-a.dropdown-item.disabled(href='/logs') lorem

div.container
  div.d-flex
    form.form-inline.my-2#searchBox(
      action='/search/' +  q
      method='GET'
      )
        div.input-group
          input.form-control(type='text', placeholder='Search by name or email', aria-label='Search', id='q' name='q' 
                  )
          div.input-group-append
            button.btn.btn-secondary(type='submit' id='submit' name="submit") Find
          if admin
            div.input-group-append 
              a.btn.btn.btn-light(href="/add") 
                span  Add New 

  if warnMsg
    div.alert-danger.text-center.p-1.small= warnMsg